.idea/
.vscode/
cmake*/
**/__pycache__/
*.iml
pybuild/.build.cache.json
src/test/resources/test-original.wav
src/test/resources/test-voice.wav
src/test/resources/pywav.comp.out.txt
src/test/resources/pywav.smooth.out.txt
